.gitbook/assets/2강_레벨 3_대량의 데이터 처리하기_예제파일.yml
app:
  description: ''
  icon: ''
  icon_background: ''
  mode: workflow
  name: 2강_레벨 3_대량의 데이터 처리하기
  use_icon_as_answer_icon: false
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      image:
        enabled: false
      number_limits: 10
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: tool
      id: 1772886354399-source-1773029560350_1_9vdysbhse-target
      selected: false
      source: '1772886354399'
      sourceHandle: source
      target: 1773029560350_1_9vdysbhse
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: iteration-start
        targetType: llm
      id: 1773043034319_12_3ssa64sy4start-source-1773043257940_14_vhsu4xt7o-target
      selected: false
      source: 1773043034319_12_3ssa64sy4start
      sourceHandle: source
      target: 1773043257940_14_vhsu4xt7o
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        sourceType: iteration
        targetType: end
      id: 1773043034319_12_3ssa64sy4-source-1773044133510_15_7j5rbob7j-target
      selected: false
      source: 1773043034319_12_3ssa64sy4
      sourceHandle: source
      target: 1773044133510_15_7j5rbob7j
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: tool
        targetType: code
      id: 1773029560350_1_9vdysbhse-source-1773042597702_10_wup5ivup7-target
      selected: false
      source: 1773029560350_1_9vdysbhse
      sourceHandle: source
      target: 1773042597702_10_wup5ivup7
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: code
        targetType: iteration
      id: 1773042597702_10_wup5ivup7-source-1773043034319_12_3ssa64sy4-target
      selected: false
      source: 1773042597702_10_wup5ivup7
      sourceHandle: source
      target: 1773043034319_12_3ssa64sy4
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        _connectedSourceHandleIds:
        - source
        _connectedTargetHandleIds: []
        _inParallelHovering: false
        _isEntering: false
        _runningStatus: succeeded
        _waitingRun: false
        desc: ''
        selected: false
        title: 시작
        type: start
        variables: []
      id: '1772886354399'
      position:
        x: 80
        y: 282
      selected: false
      type: custom
    - data:
        _connectedSourceHandleIds:
        - source
        - source
        _connectedTargetHandleIds:
        - target
        _holdAddVariablePopup: false
        _inParallelHovering: false
        _isEntering: false
        _runningStatus: succeeded
        _showAddVariablePopup: true
        _waitingRun: false
        desc: ''
        provider_id: google_sheet
        provider_name: google_sheet
        provider_type: builtin
        selected: false
        title: values.get
        tool_configurations: {}
        tool_label: values.get
        tool_name: get
        tool_parameters:
          range:
            type: mixed
            value: data!A:AH
          spreadsheetId:
            type: mixed
            value: 1_Bc7DcA4VD4uoN29w8AU2x4rRWJbZ8vZSMRPYFGN0kQ
        type: tool
      id: 1773029560350_1_9vdysbhse
      position:
        x: 416.70606846597946
        y: 297.38324905487264
      selected: false
      type: custom
      zIndex: 1005
    - data:
        _connectedSourceHandleIds:
        - source
        - source
        - source
        _connectedTargetHandleIds:
        - target
        - target
        _holdAddVariablePopup: false
        _inParallelHovering: false
        _isEntering: false
        _runningStatus: succeeded
        _showAddVariablePopup: true
        _waitingRun: false
        code: "import json\n\ndef main(input_data):\n    \"\"\"\n    Google Sheet\
          \ 데이터를 행 단위로 분할하여 array(string) 형식으로 변환\n    \n    Args:\n        input_data\
          \ (str): 2차원 배열 형태의 문자열 데이터\n    \n    Returns:\n        dict: {'result':\
          \ array(string)} 형태의 결과\n    \"\"\"\n    # 문자열을 Python 리스트로 변환\n    data\
          \ = json.loads(input_data)\n    \n    # 각 행을 JSON 문자열로 변환하여 배열에 저장\n   \
          \ result = [json.dumps(row, ensure_ascii=False) for row in data]\n    \n\
          \    return {\"result\": result}"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: array[string]
        selected: false
        title: 코드
        type: code
        variables:
        - value_selector:
          - 1773029560350_1_9vdysbhse
          - text
          variable: input_data
      id: 1773042597702_10_wup5ivup7
      position:
        x: 771.6380018544671
        y: 323.58074404414396
      selected: false
      type: custom
      zIndex: 1005
    - data:
        _children:
        - 1773043034319_12_3ssa64sy4start
        - 1773043257940_14_vhsu4xt7o
        _connectedSourceHandleIds:
        - source
        _connectedTargetHandleIds:
        - target
        - target
        _holdAddVariablePopup: false
        _inParallelHovering: false
        _isEntering: false
        _isShowTips: false
        _iterationIndex: 99
        _iterationLength: 98
        _runningStatus: succeeded
        _showAddVariablePopup: true
        _waitingRun: false
        desc: ''
        error_handle_mode: terminated
        height: 345
        is_parallel: true
        iterator_selector:
        - 1773042597702_10_wup5ivup7
        - result
        output_selector:
        - 1773043257940_14_vhsu4xt7o
        - text
        output_type: array[string]
        parallel_nums: 10
        selected: false
        start_node_id: 1773043034319_12_3ssa64sy4start
        title: 반복
        type: iteration
        width: 616.566268815051
      id: 1773043034319_12_3ssa64sy4
      position:
        x: 1081.1124261933744
        y: 198.78479463676598
      selected: false
      type: custom
      zIndex: 1
    - data:
        _connectedSourceHandleIds:
        - source
        _connectedTargetHandleIds: []
        _inParallelHovering: false
        _isEntering: false
        _waitingRun: false
        desc: ''
        isInContainer: true
        selected: false
        title: ''
        type: iteration-start
      id: 1773043034319_12_3ssa64sy4start
      parentId: 1773043034319_12_3ssa64sy4
      position:
        x: 24
        y: 68
      selected: false
      type: custom-iteration-start
      zIndex: 1002
    - data:
        _connectedSourceHandleIds: []
        _connectedTargetHandleIds:
        - target
        _holdAddVariablePopup: false
        _inParallelHovering: false
        _isEntering: false
        _showAddVariablePopup: true
        _waitingRun: false
        context:
          enabled: false
          variable_selector: []
        desc: ''
        isInContainer: true
        iteration_id: 1773043034319_12_3ssa64sy4
        model:
          completion_params:
            max_tokens: 4096
            response_format: JSON
            temperature: 0.2
          mode: chat
          name: us.anthropic.claude-haiku-4-5-20251001-v1:0
          provider: bedrock
          registered_provider_id: 757e211d-8c55-475b-a0d1-82a35869577e
        prompt_template:
        - role: system
          text: "<role>\n당신은 스포츠 경기장 관람객 VOC를 의미론적으로 분석하는 전문 애널리스트입니다.\n관람객이 무엇에 만족했고,\
            \ 무엇이 불편했으며, 어떤 니즈를 갖고 있는지를 텍스트의 맥락과 뉘앙스를 통해 파악합니다.\n</role>\n\n<task>\n\
            CSV 형태의 VOC 설문 데이터가 입력됩니다.\n각 행의 텍스트 필드들을 종합적으로 읽고, 관람객의 만족 요인과 페인포인트를\
            \ 해석하여 분석 컬럼을 채운 CSV를 출력하세요.\n</task>\n\n<input_fields>\n분석 시 주로 참고할 필드:\n\
            - \"의견\": 관람객이 자유롭게 작성한 핵심 텍스트\n- \"상세불만족\": 구체적 불만 내용\n- \"개선방법\": 관람객이\
            \ 제안한 개선 아이디어\n- \"가장불만족\": 불만족 대분류 (구조화 응답)\n- \"시설용품\"~\"티켓\": 영역별 세부\
            \ 불만 (구조화 응답)\n- \"추천점수\": 1~10 정량 만족도 (보조 참고용)\n- \"재방문 의사\": 재방문 의향\
            \ 텍스트 (보조 참고용)\n</input_fields>\n\n<output_columns>\n\n1. 만족도(satisfaction)\n\
            관람객의 전반적 경험 만족도를 텍스트 톤과 맥락으로 판단합니다.\n\n  - 매우만족: 감탄·추천·재방문 열망 등 적극적 표현\
            \ (\"소름돋았어요\", \"천국이네요\", \"꼭 또 올게요\")\n  - 만족: 호감·가벼운 칭찬 (\"좋았어요\", \"\
            만족합니다\", \"재밌었어요\")\n  - 보통: 감정 표현 없음, 사실 나열, \"없습니다\"류\n  - 불만: 아쉬움·불편\
            \ 표현, 구체적 문제 지적 (\"좁아요\", \"불편했어요\")\n  - 매우불만: 분노·강한 실망·거부감 (\"다시는 안\
            \ 올 것 같아요\", \"최악\")\n\n  ※ 추천점수는 보조 참고만 합니다. 점수와 텍스트 감정이 모순되면 텍스트를 우선합니다.\n\
            \  ※ \"의견\"이 비어있으면 \"상세불만족\", \"개선방법\", \"재방문 의사\" 등 다른 필드로 보완 판단합니다.\n\
            \n\n2. 만족요인(satisfaction_factor)\n관람객이 긍정적으로 평가한 요소를 텍스트에서 추출합니다.\n해당\
            \ 없으면 비워둡니다.\n\n  - 응원분위기: 응원·관중·분위기·음향·조명 관련 만족\n  - 선수경기력: 선수 활약·경기\
            \ 내용·감동 관련 만족\n  - 이벤트팬서비스: 이벤트·경품·팬서비스·체험 관련 만족\n  - 스태프서비스: 스태프 친절·안내\
            \ 서비스 관련 만족\n  - 시설접근성: 경기장 접근성·교통·시야·좌석 편의 관련 만족\n  - 가격가성비: 티켓·음식 등의\
            \ 가격 만족\n  - 동반경험: 가족·연인·친구와 함께한 경험 관련 만족\n\n  ※ 복수 선택 가능. \"|\"로 구분합니다.\n\
            \n\n3. 페인포인트(pain_point)\n관람객이 불편하거나 아쉬워한 요소를 텍스트에서 추출합니다.\n해당 없으면 비워둡니다.\n\
            \n  - 좌석시설: 좌석 간격·크기·컵홀더·쿠션·등받이\n  - 화장실: 청결·수량·위치·대기\n  - 편의시설: 주차장·와이파이·충전소·짐보관·지붕·엘리베이터\n\
            \  - 식음료: 푸드트럭·편의점·매점의 메뉴·가격·대기·위치\n  - 굿즈용품: 유니폼·굿즈 재고·가격·대기줄·디자인\n \
            \ - 이벤트부족: 이벤트 다양성·경품·참여기회·안내\n  - 안내티켓: 좌석안내·키오스크·발권·표지판·안내원\n  - 퇴장동선:\
            \ 퇴장 시 혼잡·동선 문제\n\n  ※ 복수 선택 가능. \"|\"로 구분합니다.\n\n\n4. 고객니즈(customer_need)\n\
            관람객이 암묵적으로든 명시적으로든 원하고 있는 것을 해석합니다.\n텍스트에 드러난 요구뿐 아니라, 불만 이면에 깔린 기대도 읽어냅니다.\n\
            30자 이내로 자연어 서술합니다.\n\n  예시:\n  - \"컵홀더 설치로 음료 보관 편의 향상\"\n  - \"푸드트럭 대기시간\
            \ 단축\"\n  - \"더 다양한 굿즈 라인업\"\n  - \"가족 단위 관람 편의 강화\"\n  - \"특별한 니즈 없음\"\
            \n\n\n5. 핵심키워드(keywords)\n해당 VOC의 핵심 주제를 대표하는 명사 키워드를 1~3개 추출합니다.\n\"\
            |\"로 구분합니다.\n\n\n6. 요약(summary)\n해당 VOC를 한 줄(40자 이내)로 요약합니다.\n만족과 불만이\
            \ 섞여 있으면 둘 다 반영합니다.\n\n</output_columns>\n\n<output_rules>\n- CSV 텍스트만\
            \ 출력하세요. 설명·머리말·코드블록 없이 순수 CSV만 반환합니다.\n- 첫 줄 헤더: row_id,만족도,만족요인,페인포인트,고객니즈,핵심키워드,요약\n\
            - row_id는 입력 데이터 행 순서입니다. 헤더 제외, 1부터 시작합니다.\n- 복수값은 \"|\"로 구분합니다. 필드 내\
            \ 쉼표 사용을 금지합니다.\n- 필드에 쉼표가 포함될 수 있다면 큰따옴표로 감쌉니다.\n- 입력 N행이면 출력도 정확히 N행입니다.\n\
            </output_rules>\n\n<analysis_guide>\n\n만족도를 판단할 때:\n- \"좋았어요\", \"감동\"\
            , \"최고\" → 만족 이상\n- \"~하면 좋겠어요\"는 부정이 아닙니다. 전체 톤이 긍정이면 만족을 유지하세요.\n- \"\
            없습니다\", 빈칸 → 보통\n- 의견은 긍정이나 불만족 항목이 있으면 → 텍스트 전체 톤 기준으로 판단하세요.\n\n만족요인을\
            \ 판단할 때:\n- \"의견\"에서 직접 칭찬하는 대상을 추출하세요.\n- \"재방문 이유\" 컬럼도 참고하면 만족 요인의\
            \ 힌트가 됩니다.\n\n페인포인트를 판단할 때:\n- \"의견\"뿐 아니라 \"가장불만족\", \"상세불만족\", \"시설용품\"\
            ~\"티켓\", \"개선방법\" 컬럼을 모두 참조하세요.\n- \"가장불만족\"이 \"없음\"이어도 \"개선방법\"에 제안이\
            \ 있으면 잠재적 페인포인트입니다.\n\n고객니즈를 판단할 때:\n- 명시적 요구(\"~해주세요\")는 그대로 반영하세요.\n\
            - 불만 표현에서 반대급부를 추론하세요. (\"좁아요\" → \"좌석 공간 확대 희망\")\n- 긍정만 있으면 \"특별한 니즈\
            \ 없음\" 또는 현재 경험 유지를 니즈로 서술하세요.\n\n</analysis_guide>\n\n<examples>\n\n\
            <example>\n<input>\n경기일,대진,결과,날씨,요일,추천점수,가장불만족,상세불만족,시설용품,편의점,푸드트럭,이벤트,관람안내,티켓,개선방법,성별,나이,거주지,동반인원,동반자,좌석,좌석\
            \ 선택 이유,지난해 관람수,올해 관람수,티켓구매 방법,친선경기 관람여부,친선경기 직관 영향,친선전 이후 직관 계기,재방문 의사,재방문\
            \ 이유,일정 취득 경로,SNS/APP이름,직관 결정 요인,의견\n2025-07-05,스톰브레이커,승,맑음,일,8,푸드트럭,대기\
            \ 시간,,,,,,,대형 스크린 추가,남,40~44,인천 부평구,5명,가족,프리미엄 서측센터지정석,가족이 원해서,10회 이상,2회,친구가\
            \ 예매,아니오,보통,시즌이 기대되어서,꼭 다시 오고 싶어요,경기장 응원 분위기,인터넷 포털,,경기일정과 스케쥴이 맞아서,경기장\
            \ 스태프분들이 친절해서 좋았어요\n</input>\n<output>\nrow_id,만족도,만족요인,페인포인트,고객니즈,핵심키워드,요약\n\
            1,만족,스태프서비스|응원분위기,식음료,푸드트럭 대기시간 단축 희망,스태프|친절|푸드트럭,스태프 친절에 만족하나 푸드트럭 대기시간\
            \ 불만\n</output>\n</example>\n\n<example>\n<input>\n경기일,대진,결과,날씨,요일,추천점수,가장불만족,상세불만족,시설용품,편의점,푸드트럭,이벤트,관람안내,티켓,개선방법,성별,나이,거주지,동반인원,동반자,좌석,좌석\
            \ 선택 이유,지난해 관람수,올해 관람수,티켓구매 방법,친선경기 관람여부,친선경기 직관 영향,친선전 이후 직관 계기,재방문 의사,재방문\
            \ 이유,일정 취득 경로,SNS/APP이름,직관 결정 요인,의견\n2025-10-04,실버울프,무,비,금,5,편의점,메뉴 단조로움,,,,,,,,,여,15~19,관악구,혼자\
            \ 왔어요,,프리미엄 서측지정석,항상 앉던 자리라서,1회,6회~10회,친구가 예매,예,영향 없음,SNS에서 보고,다시 방문하지\
            \ 않을 것 같아요,선수들의 경기력,구단 홈페이지,유튜브,경기일정이 맞아서,직관의 감동은 역시 다릅니다\n</input>\n\
            <output>\nrow_id,만족도,만족요인,페인포인트,고객니즈,핵심키워드,요약\n1,보통,응원분위기,식음료,편의점 메뉴 다양화\
            \ 희망,직관|감동|메뉴단조,직관 감동은 느꼈으나 편의점 메뉴와 재방문 의사 부정적\n</output>\n</example>\n\
            \n<example>\n<input>\n경기일,대진,결과,날씨,요일,추천점수,가장불만족,상세불만족,시설용품,편의점,푸드트럭,이벤트,관람안내,티켓,개선방법,성별,나이,거주지,동반인원,동반자,좌석,좌석\
            \ 선택 이유,지난해 관람수,올해 관람수,티켓구매 방법,친선경기 관람여부,친선경기 직관 영향,친선전 이후 직관 계기,재방문 의사,재방문\
            \ 이유,일정 취득 경로,SNS/APP이름,직관 결정 요인,의견\n2025-05-03,골든이글스,승,맑음,금,10,경기장 시설(좌석\
            \ 화장실 등),좌석 간격,와이파이 강화,메뉴 다양화,,,,,,남,10~14,양천구,2명,연인,신한카드 동측지정석,응원하기 좋아서,1회,6회~10회,가족이\
            \ 예매,아니오,영향 없음,친구가 같이 가자고 해서,꼭 다시 오고 싶어요,경기 외 이벤트,구단 문자 메세지,,리그 순위가 좋을때,선수들이\
            \ 정말 열심히 뛰어서 감동받았어요\n</input>\n<output>\nrow_id,만족도,만족요인,페인포인트,고객니즈,핵심키워드,요약\n\
            1,매우만족,선수경기력|이벤트팬서비스,좌석시설|편의시설,좌석 간격 확대와 와이파이 개선 희망,선수|감동|좌석간격,선수 경기력에\
            \ 크게 감동했으나 좌석 간격과 와이파이 개선 희망\n</output>\n</example>\n\n<example>\n<input>\n\
            경기일,대진,결과,날씨,요일,추천점수,가장불만족,상세불만족,시설용품,편의점,푸드트럭,이벤트,관람안내,티켓,개선방법,성별,나이,거주지,동반인원,동반자,좌석,좌석\
            \ 선택 이유,지난해 관람수,올해 관람수,티켓구매 방법,친선경기 관람여부,친선경기 직관 영향,친선전 이후 직관 계기,재방문 의사,재방문\
            \ 이유,일정 취득 경로,SNS/APP이름,직관 결정 요인,의견\n2025-08-02,스톰브레이커,승,비,금,8,없음,없음,,,,,앱\
            \ 내 좌석 안내,,퇴장 동선 개선,남,55~59,도봉구,5명,친구,신한카드 동측지정석,그냥,1회,10회 이상,직접 예매,아니오,,시즌이\
            \ 기대되어서,다시 방문하지 않을 것 같아요,경기장 응원 분위기,인터넷 포털,,스타 선수,이벤트도 재밌고 경기도 재밌고 완벽한\
            \ 하루였어요\n</input>\n<output>\nrow_id,만족도,만족요인,페인포인트,고객니즈,핵심키워드,요약\n1,만족,이벤트팬서비스|응원분위기,안내티켓|퇴장동선,앱\
            \ 좌석안내 개선과 퇴장 동선 정비,이벤트|완벽한하루|퇴장동선,이벤트와 경기 모두 만족하나 안내·퇴장 동선 개선 필요\n</output>\n\
            </example>\n\n</examples>"
        - role: user
          text: '{{#1773043034319_12_3ssa64sy4.item#}}'
        selected: false
        title: VOC 분석
        type: llm
        variables: []
        vision:
          enabled: false
      id: 1773043257940_14_vhsu4xt7o
      parentId: 1773043034319_12_3ssa64sy4
      position:
        x: 165.80809032898264
        y: 107.82242410141441
      selected: true
      type: custom
      zIndex: 1005
    - data:
        _connectedSourceHandleIds: []
        _connectedTargetHandleIds:
        - target
        _holdAddVariablePopup: false
        _inParallelHovering: false
        _isEntering: false
        _runningStatus: succeeded
        _showAddVariablePopup: true
        _waitingRun: false
        desc: ''
        outputs:
        - value_selector:
          - 1773043034319_12_3ssa64sy4
          - output
          variable: result
        selected: false
        title: 종료
        type: end
      id: 1773044133510_15_7j5rbob7j
      position:
        x: 1822.771827471919
        y: 306.6312523729304
      selected: false
      type: custom
      zIndex: 1005
    - data:
        _connectedSourceHandleIds: []
        _connectedTargetHandleIds:
        - target
        _holdAddVariablePopup: false
        _inParallelHovering: false
        _isEntering: false
        _showAddVariablePopup: true
        _waitingRun: false
        desc: ''
        outputs: []
        selected: false
        title: 종료 2
        type: end
      id: 1773053570926_3_jkpm38r55
      position:
        x: 1045.8984899776024
        y: 780.0436696513418
      selected: false
      type: custom
      zIndex: 1005
    viewport:
      x: -48.06002501836281
      y: 59.75620325808143
      zoom: 0.6268952861204511
