.gitbook/assets/[템플릿] PDF 요약 분석.yml
app:
  description: '매일 공유되는 정보지(PDF)를 기반으로 시황을 분석하고, 가격 변동 사유 및 주요 이슈를 요약/번역하여 리포트로 작성하는
    시나리오 #문서 추출기 #fileoutput #file #파일'
  icon: ''
  icon_background: ''
  memory_config: null
  mode: workflow
  name: '[템플릿] PDF 요약 분석'
  use_icon_as_answer_icon: false
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      image:
        enabled: false
      number_limits: 10
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: document-extractor
      id: 1764915433926-source-1765253720129_1_fvfmtj3j3-target
      selected: false
      source: '1764915433926'
      sourceHandle: source
      target: 1765253720129_1_fvfmtj3j3
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: document-extractor
        targetType: llm
      id: 1765253720129_1_fvfmtj3j3-source-1765253744024_2_3r73h1jxu-target
      selected: false
      source: 1765253720129_1_fvfmtj3j3
      sourceHandle: source
      target: 1765253744024_2_3r73h1jxu
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: llm
        targetType: end
      id: 1765253744024_2_3r73h1jxu-source-1779155735337_1_33ov42387-target
      selected: false
      source: 1765253744024_2_3r73h1jxu
      sourceHandle: source
      target: 1779155735337_1_33ov42387
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        _connectedSourceHandleIds:
        - source
        _connectedTargetHandleIds: []
        _inParallelHovering: false
        _isEntering: false
        _runningStatus: succeeded
        desc: ''
        height: 83
        selected: false
        title: 시작
        type: start
        variables:
        - allowed_file_extensions: []
          allowed_file_types:
          - document
          allowed_file_upload_methods:
          - local_file
          - remote_url
          label: file
          max_length: 1
          options: []
          required: true
          type: file
          variable: file
        width: 260
      height: 83
      id: '1764915433926'
      measured:
        height: 83
        width: 260
      position:
        x: 80
        y: 282
      selected: false
      type: custom
      width: 260
    - data:
        _connectedSourceHandleIds:
        - source
        _connectedTargetHandleIds:
        - target
        _holdAddVariablePopup: false
        _inParallelHovering: false
        _isEntering: false
        _runningStatus: succeeded
        _showAddVariablePopup: true
        desc: ''
        height: 79
        is_array_file: false
        selected: false
        title: 문서 추출기
        type: document-extractor
        variable_selector:
        - '1764915433926'
        - file
        width: 260
      height: 79
      id: 1765253720129_1_fvfmtj3j3
      measured:
        height: 79
        width: 260
      position:
        x: 455.3882379847307
        y: 288.6959273603447
      selected: false
      type: custom
      width: 260
      zIndex: 1005
    - data:
        _connectedSourceHandleIds:
        - source
        _connectedTargetHandleIds:
        - target
        _holdAddVariablePopup: false
        _inParallelHovering: false
        _isEntering: false
        _runningStatus: none
        _showAddVariablePopup: true
        context:
          enabled: true
          variable_selector:
          - 1765253720129_1_fvfmtj3j3
          - text
        default_value:
        - key: text
          type: string
          value: ''
        desc: ''
        error_strategy: default-value
        height: 115
        model:
          completion_params:
            max_tokens: 16384
            temperature: 0.7
          mode: chat
          name: us.anthropic.claude-haiku-4-5-20251001-v1:0
          provider: bedrock
          registered_provider_id: dd1c139a-5035-475e-843e-4d5fbfabd155
        prompt_template:
        - role: system
          text: '<system>

            당신은 한국 법령 및 규제 문서를 분석하는 전문가입니다. 산업안전보건법, 근로기준법, 화학물질관리법 등 법령 문서를 분석하여
            한국어로 명확하고 이해하기 쉬운 요약 리포트를 작성합니다. 법률 전문 용어는 가능한 한 쉽게 풀어서 설명하고, 비법률 전문가(현업
            실무자, 안전관리 담당자 등)도 핵심 내용을 파악할 수 있도록 작성합니다.

            </system>


            <task>

            제공된 법령 문서(PDF)를 분석하여 한국어 요약 리포트를 작성하세요.

            </task>


            <output_structure>

            1. **핵심 요약 및 법령 개요**: 법령의 목적, 시행일, 전체 구조(장/절 구성)를 한눈에 파악

            2. **주요 정의 및 적용 범위**: 법령에서 정의하는 핵심 용어와 적용 대상·범위, 예외 사항을 표 또는 목록으로 정리

            3. **주체별 의무사항**: 사업주·근로자·정부·도급인 등 주요 이해관계자별 의무와 책임을 구분하여 정리

            4. **주요 조항 및 위반 시 처벌(벌칙)**: 핵심 조항의 원문·해석과 위반 시 적용되는 벌칙 조항을 함께 정리

            </output_structure>


            <style_guidelines>

            - 간결한 비즈니스 문체

            - 법률 전문 용어는 괄호 안에 쉬운 설명 추가 (예: "도급(다른 사업주에게 일을 맡기는 계약)")

            - 조항 번호, 시행일, 개정일은 정확하게 기재

            - 법령 원문과 해석을 명확히 구분 (해석은 "→" 또는 "쉽게 말하면"으로 표시)

            - 추측과 사실을 분리하여 작성

            </style_guidelines>



            <instructions>

            1. 법령 문서의 모든 장(章)과 주요 조(條)를 검토하세요. 단, 모든 조항을 나열하기보다는 실무상 중요한 핵심 조항 위주로
            정리하세요.

            2. 조항 번호, 시행일, 개정일은 정확하게 추출하세요.

            3. 법률 전문 용어는 비법률 전문가도 이해할 수 있도록 쉽게 풀어 설명하세요.

            4. 주요 조항은 원문을 인용한 후 "→ 쉽게 말하면"으로 해석을 덧붙이세요.

            5. 벌칙(처벌) 조항은 반드시 확인하여 위반 행위와 함께 매핑하세요.

            6. 법령 원문에 근거한 내용과 일반적 해석/추측은 명확히 구분하여 작성하세요.

            </instructions>'
        - role: user
          text: <input_documents>{{#context#}}</input_documents>
        selected: false
        title: 문서 요약/분석 LLM
        type: llm
        variables: []
        vision:
          enabled: false
        width: 260
      height: 115
      id: 1765253744024_2_3r73h1jxu
      measured:
        height: 115
        width: 260
      position:
        x: 817.2464760262137
        y: 274.2286161318178
      selected: true
      type: custom
      width: 260
      zIndex: 1005
    - data:
        _connectedSourceHandleIds: []
        _connectedTargetHandleIds:
        - target
        _holdAddVariablePopup: false
        _inParallelHovering: false
        _isEntering: false
        _runningStatus: succeeded
        _showAddVariablePopup: false
        desc: ''
        height: 111
        outputs:
        - value_selector:
          - 1765253744024_2_3r73h1jxu
          - text
          variable: result
        selected: false
        title: 종료
        type: end
        width: 260
      height: 111
      id: 1779155735337_1_33ov42387
      measured:
        height: 111
        width: 260
      position:
        x: 1269.7323190327247
        y: 276.1343127292362
      selected: false
      type: custom
      width: 260
      zIndex: 1005
    - data:
        _connectedSourceHandleIds: []
        _connectedTargetHandleIds: []
        _inParallelHovering: false
        _isEntering: false
        author: Eric 장희원
        desc: ''
        height: 357
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"
          [출력 양식 수정 방법]","type":"text","version":1},{"type":"linebreak","version":1},{"detail":0,"format":0,"mode":"normal","style":"","text":"LLM
          노드의 프롬프트에서 ","type":"text","version":1},{"detail":0,"format":1,"mode":"normal","style":"","text":"output
          structure","type":"text","version":1},{"detail":0,"format":0,"mode":"normal","style":"","text":"
          와 ","type":"text","version":1},{"detail":0,"format":1,"mode":"normal","style":"","text":"example_format","type":"text","version":1},{"detail":0,"format":0,"mode":"normal","style":"","text":"
          을 원하시는 방식으로 수정하시면 됩니다.","type":"text","version":1},{"type":"linebreak","version":1},{"type":"linebreak","version":1},{"detail":0,"format":0,"mode":"normal","style":"","text":"현재는
          markdown 파일 양식에 맞게 들어가있습니다.","type":"text","version":1},{"type":"linebreak","version":1},{"type":"linebreak","version":1},{"detail":0,"format":0,"mode":"normal","style":"","text":"(+)","type":"text","version":1},{"type":"linebreak","version":1},{"detail":0,"format":0,"mode":"normal","style":"","text":"프롬프트는
          팀 상황에 맞게 수정하여 사용하시는 것을 권장드립니다.","type":"text","version":1},{"type":"linebreak","version":1},{"type":"linebreak","version":1},{"detail":0,"format":0,"mode":"normal","style":"","text":"1.
          pdf 내용 설명","type":"text","version":1},{"type":"linebreak","version":1},{"detail":0,"format":0,"mode":"normal","style":"","text":"2.
          출력 양식 설명","type":"text","version":1},{"type":"linebreak","version":1},{"detail":0,"format":0,"mode":"normal","style":"","text":"3.
          출력 파일 형식","type":"text","version":1},{"type":"linebreak","version":1},{"type":"linebreak","version":1},{"detail":0,"format":0,"mode":"normal","style":"","text":"은
          꼭 설정하시는 것을 추천드립니다.","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 384
      height: 357
      id: 1779156870797_3_uuxnslslh
      measured:
        height: 357
        width: 384
      position:
        x: 810.6994374022914
        y: 440.53107418821605
      selected: false
      type: custom-note
      width: 384
      zIndex: 1005
    viewport:
      x: -31.589293909994808
      y: -157.3003475524327
      zoom: 0.8937851623567883
